# Archivos temporales y configuración del sistema
.DS_Store

# Archivos de Microsoft Office
*.xls
*.xml

# Archivos y carpetas de Python
__pycache__
*.egg-info
build
dist

# Carpetas de entorno virtual
.venv

# Archivos y carpetas de Visual Studio Code
.vscode

# Archivos específicos del proyecto
main.py
Temp
automatizacion_capitulo_1_IPC_INE.egg-info
app_name.egg-info

# Carpetas específicas del proyecto
src/curso
src/automatizacion_IPC_INE.egg-info
src/db_b
